.menu-list{
    display: none;
    list-style: none;
}

/* ハンバーガーメニュ＾ */

.menu{
    width: 100%;
    height: 100%;
    top: 0px;
    position: relative;
    cursor: pointer;
}

.menu-bar{
    width: 88px;
    height: 10px;
    background-color: #000;
    position: absolute;
    transition: all 0.5s;
}

/* クリックした際の動き */

.menuclick1{
    top: 88px;
    transform: rotate(360deg);
}

.menuclick2{
    opacity: 0;
}

.menuclick3{
    top: 88px;
    transform: rotate(-360deg);
}

.above{
    top: 0px;
}

.center{
    top: 24px;
}

.under{
    top: 48px;
}



/* リストの装飾 */

.menu-list{
    position: relative;
    top: 88px;
    right: 25px;
}

.menu-list>a{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
}

.list1{
    padding-bottom: 10px;
}
