html,body,h1,h2,h3,p{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.clearfix{
    content: "";
    clear: both;
    display: block;
}

.box{
    width: 100px;
    height: 100px;
    background: #000;
}
